$color-border: #e8e8e8;
$color-white: #ffffff;
$light-black: #606060;
:global {
  .editor-mode {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .editor-content {
      display: flex;
      flex: 1;
      padding: 12px;
      .editor-previewer {
        flex: 1;
        margin-right: 12px;
        background: $color-white;
        border-radius: 6px;
      }
      .chart-editor {
        width: 450px;
        background: $color-white;
        border-radius: 6px;
        .chart-editor-content {
          overflow-y: auto;
          .ant-form-item {
            margin-bottom: 12px;
          }
        }
        .configurator-section {
          padding: 0 12px;
        }
      }
    }
    .editor-footer {
      display: flex;
      flex-direction: row-reverse;
      justify-content: start;
      align-items: center;
      // height: 40px;
      padding: 8px 12px;
      background: $color-white;
    }
  }
}
