$color-background: #f6f6f6;
$color-border: #e8e8e8;
$light-black: #606060;
$label-purple: #8570f7;
:global {
  .bi-cards-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 5px;
    > div:last-view {
      margin-bottom: -10px;
    }
  }
  .bi-cards-row {
    display: flex;
    flex: 1;
    > div:not(:last-view) {
      margin-right: 10px;
    }
  }
  .bi-cards-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 3px 7px;
    background: $color-background;
    border: 1px solid $color-border;
    border-radius: 4px;
    box-shadow: 2px 2px 2px $color-border;
    cursor: pointer;
    .bi-cards-block-title {
      height: 21px;
      color: $light-black;
      > span {
        margin-left: 3px;
      }
    }
    .bi-cards-block-content {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      align-items: center;
      font-weight: 500;
      font-size: 22px;
      text-align: center;
      > span {
        margin-right: 5px;
        color: $label-purple;
      }
    }
  }
}
