$white: #ffffff;
$color-border: #e8e8e8;
:global {
  .bi-chart-sizeme {
    position: relative;
    height: 100%;
    padding: 12px 20px 20px;
    background-color: $white;
    border: 1px solid $color-border;
    border-radius: 6px;
  }
}
