:global {
  .bi-config-editor-views {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 4px;
    border: 1px solid transparent;
    &:hover {
      border: 1px dotted transparentize($color-primary, .1);
    }
    &.active {
      border: 1px solid transparentize($color-primary, .1);
    }
    i {
      color: $color-primary;
      font-size: 30px;
      cursor: pointer;
    }
  }
}
