$back-chart: #f3f9fe;
$border-active: #a4e1fe;
:global {
  .bi-drawer-controls {
    display: inline-block;
    height: 32px;
    margin-bottom: 8px;
    padding: 0 8px;
    line-height: 32px;
    border: 1px solid transparent;
    cursor: pointer;
    &:hover {
      background-color: $back-chart;
    }
    &.active {
      background-color: $back-chart;
      border: 1px solid $border-active;
    }
  }
}
