@import './variable';
$dashboard-prefix-cls: #{$prefix}-dashboard;

.#{$dashboard-prefix-cls} {
  .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .v-flex-box {
    display: flex;
    flex-direction: column;
  }

  .center-flex-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .full-height {
    height: 100%;
  }

  .flex-1 {
    flex: 1;
  }

  .inline-sub-item {
    margin-right: 8px;
  }

  &.dark-border,
  .dark-border {
    border: $dark-border;
  }
}
