$prefix: "dc";

$color-primary: #6a549e;
$color-border: #e8e8e8;
$color-white: #ffffff;
$light-black: #606060;
$border: 1px solid rgba(0, 0, 0, .1);
$gray-color: rgba(0, 0, 0, .04);
$dark-black: #292929;
$white: #ffffff;
$color-text: #666666;
$full-background-color: rgba(55, 55, 55, .5);
