$prefix: "dc";

$color-primary: #6a549e;
$color-border: #e8e8e8;
$color-white: #ffffff;
$light-black: #606060;
$color-text: #666666;
$mask-color: rgba(0, 0, 0, .2);
$full-background-color: rgba(55, 55, 55, .5);

$border: 1px solid $color-border;