:global {
  .bi-header {
    padding-right: 10px;
    text-align: right;
    .anticon {
      color: $color-text;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        color: $color-primary;
      }
    }
  }
  .bi-in-edit .react-resizable-handle {
    display: none;
  }
}
