:global {
  .editor-operate a {
    margin-right: 10px;
    cursor: pointer;
  }
  .editor-diff {
    overflow: auto;
    font-size: 12px;
    font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro,
      monospace;
    pre {
      margin-top: 0;
      code {
        line-height: 16px;
        counter-reset: code-line-num;
      }
    }
    .diff-line-del {
      color: #b30000;
      background: #fadad7;
      del {
        text-decoration: none;
      }
    }
    .diff-line-ins {
      color: #406619;
      text-decoration: none;
      background: #eaf2c2;
      ins {
        text-decoration: none;
      }
    }
    .diff-line-ins:before,
    .diff-line-old:before {
      display: inline-block;
      width: 41px;
      margin-right: 4px;
      padding-right: 13px;
      padding-left: 19px;
      font-size: 12px;
      background: #f0f0f0;
      counter-increment: code-line-num;
      content: counter(code-line-num);
    }
    .diff-line-del:before {
      display: inline-block;
      width: 41px;
      margin-right: 4px;
      padding-right: 13px;
      padding-left: 19px;
      font-size: 12px;
      background: #f0f0f0;
      content: "";
    }
  }
}
