$color-text: #666666;
$white: #ffffff;
$full-background-color: rgba(55, 55, 55, .6);
:global {
  .bi-board {
    width: 100%;
    height: 100%;
  }
  .screened {
    overflow: auto;
    background-color: $white;
  }
  .dashboard-header {
    padding: 16px 20px;
    text-align: right;
    .anticon {
      margin-left: 16px;
      color: $color-text;
      font-size: 20px;
      cursor: pointer;
      &:hover {
        color: $color-primary;
      }
    }
  }
  .dashboard-content {
    display: flex;
    overflow-y: scroll;
    .chart-view {
      flex: 1;
    }
    .chart-editor-wp {
      width: 400px;
    }
  }
  .bi-off-edit .react-resizable-handle {
    display: none;
  }

  // 全屏样式，不能合并一起简写，否则不生效
  :not(:root):-webkit-full-screen::backdrop {
    background: $full-background-color;
  }
  :not(:root):-moz-full-screen::backdrop {
    background: $full-background-color;
  }
  :not(:root):-ms-full-screen::backdrop {
    background: $full-background-color;
  }
  :not(:root):-o-full-screen::backdrop {
    background: $full-background-color;
  }
  .editor-mode {
    display: flex;
    height: 100%;
    .editor-previewer {
      flex: 1;
    }
  }
}
