@import '../../../styles//variable';
$mask-prefix-cls: #{$prefix}-chart-mask;

.#{$mask-prefix-cls} {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  pointer-events: none;
  background: $mask-color;

  &-message {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -30px;
    color: $color-white;
    font-size: 30px;
    text-align: center;
  }
}
