:global {
  .bi-chart-operation {
    position: relative;
    width: 100%;
    height: 100%;
    &.active {
      border: 1px solid $color-primary;
      border-radius: 6px;
    }
  }
  .bi-chart-operation-header {
    position: absolute;
    right: 5px;
    z-index: 999;
    padding-top: 12px;
    padding-right: 10px;
    text-align: right;
    .anticon {
      margin-left: 12px;
      cursor: pointer;
      &:hover {
        color: $color-primary;
      }
    }
  }
}
