:global {
  .bi-drawer .ant-drawer-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 12px;
  }
  .bi-drawer-content {
    flex: 1;
  }
  .bi-drawer-footer {
    height: 44px;
    padding-top: 12px;
    text-align: right;
  }
}
