:global {
  .bi-chart-operation {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .bi-chart-operation-header {
    position: absolute;
    z-index: 999;
    width: 100%;
    padding-top: 12px;
    padding-right: 20px;
    text-align: right;
    .anticon {
      margin-left: 12px;
      cursor: pointer;
      &:hover {
        color: $color-primary;
      }
    }
  }
}
