$dark-black: #292929;
:global {
  .bi-radar-settings-title {
    label {
      margin-right: 5px;
      color: $dark-black;
    }
    margin-bottom: 10px;
  }
  .bi-radar-config-label {
    padding-left: 15px;
    color: $dark-black;
    line-height: 39px;
  }
  .bi-radar-config-row {
    .ant-form-item {
      margin-bottom: 3px;
    }
  }
}
