@import '../../../../../styles/variable';
$dice-metric-group-prefix-cls: #{$prefix}-dice-metric-group;

.#{$dice-metric-group-prefix-cls} {
  display: flex;
  flex-wrap: wrap;
}

.#{$prefix}-editor-dimension-config {
  display: flex;
  justify-content: space-between;

  .#{$prefix}-iconfont {
    color: $color-text-desc;
  }
}

.field-config-select {
  min-width: 100px;
  .ant-select-dropdown {
    width: max-content;
  }
}

.dimensions-config-tag {
  line-height: 22px;
  align-self: start;
  background: #ffffff;
  border: #6a549e solid 1px;
  color: #6a549e;

  &:hover {
    cursor: pointer;
  }
}

.dimensions-config-tag2 {
  background: #ffffff;
  border: #6a549e solid 1px;
  color: #6a549e;
  cursor: pointer;
}
