:global {
  .bi-sub-title {
    margin-bottom: 10px;
    font-weight: 500;
  }
  .bi-item-label {
    .label-tooltip {
      margin-right: 4px;
      margin-left: 4px;
    }
  }
  .bi-full-width {
    width: 100%;
  }
  // .ant-form-item-label {
  //   white-space: normal;
  // }
}
