@import "../../styles/variable";
$iconfont-prefix-cls: #{$prefix}-iconfont;

.#{$iconfont-prefix-cls} {
  &.#{$prefix}-symbol-iconfont {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }

  &.small {
    font-size: 12px;
  }
}
