$back-chart: #f3f9fe;
$border-active: #a4e1fe;
:global {
  .bi-drawer-charts {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 1px solid transparent;
    &:hover {
      background-color: $back-chart;
    }
    &.active {
      background-color: $back-chart;
      border: 1px solid $border-active;
    }
    .anticon {
      width: 30px;
      height: 30px;
      padding-top: 5px;
      color: $color-primary;
      font-size: 20px;
      cursor: pointer;
    }
  }
}
