$border: 1px solid rgba(0, 0, 0, .1);
$gray-color: rgba(0, 0, 0, .04);
:global {
  .fz12 {
    font-size: 12px;
  }
  .chart-view {
    &:hover {
      background-color: $gray-color;
      cursor: pointer;
    }
    margin: 8px;
    text-align: center;
    border: $border;
    border-radius: 3px;
    .logo {
      width: 90px;
    }
    .desc {
      margin-bottom: 8px;
    }
  }
}