:global {
  .bi-chart-operation {
    position: relative;
    width: 100%;
    height: 100%;
    &.active {
      border: 1px solid $color-primary;
      border-radius: 6px;
    }
  }
  .bi-chart-operation-header-left {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 999;
    text-align: left;
    i {
      color: $color-primary;
      cursor: pointer;
    }
  }
  .bi-chart-operation-header-right {
    position: absolute;
    top: 12px;
    right: 15px;
    z-index: 999;
    text-align: right;
    i {
      margin-left: 12px;
      cursor: pointer;
      &:hover {
        color: $color-primary;
      }
    }
  }
  .bi-empty-tip {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
