:global {
  .cards-layout {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: -10px 0 0 0;
    padding: 5px;
    > div:not(:last-child) {
      margin-right: 15px;
    }
    .cards-block {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      padding: 3px 7px;
      color: $color-text-primary;
      background: $color-background;
      border: 1px solid $color-border;
      border-radius: 4px;
      box-shadow: 2px 2px 2px $color-border;
      cursor: pointer;
      .cards-block-title {
        height: 21px;
      }
      .cards-block-content {
        flex: 1;
        text-align: center;
        > span {
          margin-right: 5px;
        }
      }
    }
  }
}
