@import '../../styles/variable';
$wrapper-prefix-cls: #{$prefix}-view-wrapper;
$chart-prefix-cls: #{$prefix}-chart;

.#{$wrapper-prefix-cls} {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: $border;
  border-radius: 6px;

  &.active {
    border: 2px dashed $color-primary;
    border-radius: 6px;
  }
}

.#{$prefix}-draggable-handle {
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 1;
  font-size: 20px;
  cursor: move;

  &:hover {
    color: $color-primary;
  }
}

.#{$chart-prefix-cls} {
  position: relative;
  flex: 1;
  padding: 8px;
  overflow: auto;

  &-header {
    padding: 8px 8px 0 8px;
    text-align: center;
  }

  &-title {
    margin: 0;
    color: rgba(0, 0, 0, .8);
    font-weight: 500;
    font-size: 14px;
  }

  &-title-ct {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    padding: 0 8px;
    line-height: 28px;

    &.pointer {
      cursor: pointer;
    }
  }

  &-title-op {
    margin-left: 4px;
  }
}

// TODO: remove it
.ant-dropdown-menu-item .dc-chart-title-dp-op {
  display: flex;
  align-items: center;

  .dc-iconfont {
    margin-right: 8px;
  }
}